.top-header
{
    text-align: center;
}

.add_book
{
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.add_book input,button
{
    margin: 10px;
}